.header {
  margin-top: 1rem;
  text-align: center;

  ul {
    display: flex;
    float: right;
    gap: 5rem;
    margin: 1rem 0 0 0;
    padding-right: 5rem;
    li {
      list-style: none;
      button{
        padding: 0 0.2rem;
      }
    }
  }
}
// .header ul li {
//   list-style: none;
// }
@media screen and (max-width: 550px) {
  .header ul {
    padding-right: 1rem;
  }
}
